<div class="d-flex justify-content-center">
<div id="container">

<h1 id="title">{{title}}</h1><br>

<input id="pantalla" class="form-control bg-warning text-dark" type="text" disabled="true" [(ngModel)]="pantalla"><br><br>

<input id="botones" type="submit" value="7" class="btn btn-dark" (click)="concatenar('7')">
<input id="botones" type="submit" value="8" class="btn btn-dark" (click)="concatenar('8')">
<input id="botones" type="submit" value="9" class="btn btn-dark" (click)="concatenar('9')">
<input id="botones" type="submit" value="/" class="btn btn-dark" (click)="operaciones('/')">
<input id="botones" type="submit" value="⌫" class="btn btn-dark" (click)="borrar()"><br>
<input id="botones" type="submit" value="4" class="btn btn-dark" (click)="concatenar('4')">
<input id="botones" type="submit" value="5" class="btn btn-dark" (click)="concatenar('5')">
<input id="botones" type="submit" value="6" class="btn btn-dark" (click)="concatenar('6')">
<input id="botones" type="submit" value="X" class="btn btn-dark" (click)="operaciones('*')">
<input id="botones" type="submit" value="CE" class="btn btn-dark" (click)="clearActual()"><br>
<input id="botones" type="submit" value="1" class="btn btn-dark" (click)="concatenar('1')">
<input id="botones" type="submit" value="2" class="btn btn-dark" (click)="concatenar('2')">
<input id="botones" type="submit" value="3" class="btn btn-dark" (click)="concatenar('3')">
<input id="botones" type="submit" value="+" class="btn btn-dark" (click)="operaciones('+')">
<input id="botones" type="submit" value="C" class="btn btn-dark" (click)="clearTotal()"><br>
<input id="botones" type="submit" value="+/-" class="btn btn-dark" (click)="cambiarSigno()">
<input id="botones" type="submit" value="0" class="btn btn-dark" (click)="concatenar('0')">
<input id="botones" type="submit" value="." class="btn btn-dark" (click)="decimal()">
<input id="botones" type="submit" value="-" class="btn btn-dark" (click)="operaciones('-')">
<input id="botones" type="submit" value="=" class="btn btn-dark" (click)="igual()"><br>

</div>
</div>